INSTALL
aclocal.m4
ar-lib
autom4te.cache
compile
config.guess
config.h*
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4
missing
stamp-h1

Makefile
Makefile.in
*.la
*.lo

.deps
.libs
